.Divisor {
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    font: 1.2rem Helvetica NeueBold;
    color: #707070;
  }
  
  .Divisor::after,
  .Divisor::before {
    content: "";
    border: 1px solid #707070;
    flex: 1;
  }
  
  .Divisor:not(:empty)::before {
    margin-right: 0.75em;
  }
  
  .Divisor:not(:empty)::after {
    margin-left: 0.75em;
  }