.secao {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
  }
  .secao p {
    font-family: Helvetica NeueRegular;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
  }
  .secao label {
    font-family: Helvetica NeueRegular;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .labelInput {
    margin-top: 2rem;
  }
  .secao label:nth-child(2) {
    margin: 1.5rem 0 0.5rem 0;
  }
  .secao input {
    margin: 0.5rem 0;
    border: 1px solid #707070;
    width: 99%;
    height: 2rem;
  }
  .btnEnviar {
    margin: 2rem auto;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 760px) {
    .secaoContainer {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
    .secao {
      justify-content: center;
      align-items: center;
    }
    .secao label {
      width: 40%;
      margin: 0;
    }
    .secao label:nth-child(2) {
      margin: 0;
    }
    .labelInput {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 2rem;
    }
    .btnEnviar {
      margin-top: 3rem;
      width: 30%;
    }
  }