.meio {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.textos {
  width: 50%;
}
.formu {
  align-items: center;
  width: 30%;
}
.textos h1 {
  margin-bottom: 30px;
}
.p1 {
  margin-bottom: 35px;
}

.amigos {
    display:flex;

}
